# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [22]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [23]:
# Run this code:
df = pd.read_csv
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [24]:
# Your code here:
salaries.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [25]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [26]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [27]:
# Your code here:
salary=salaries["Annual Salary"]
salary.value_counts()

90024.0     2217
87006.0     1928
93354.0     1367
48078.0     1157
84054.0     1117
            ...
55968.0        1
103740.0       1
79152.0        1
103716.0       1
26628.0        1
Name: Annual Salary, Length: 1000, dtype: int64

In [28]:
hour=salaries["Hourly Rate"]
hour.value_counts()

35.60    1415
40.20     781
36.21     626
19.86     418
46.10     306
         ...
26.33       1
50.20       1
45.93       1
42.25       1
27.66       1
Name: Hourly Rate, Length: 167, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [29]:
# Your code here:
depart=salaries["Department"]
depart.value_counts()[:10]

POLICE              13414
FIRE                 4641
STREETS & SAN        2198
OEMC                 2102
WATER MGMNT          1879
AVIATION             1629
TRANSPORTN           1140
PUBLIC LIBRARY       1015
GENERAL SERVICES      980
FAMILY & SUPPORT      615
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [30]:
# Your code here:
from scipy.stats import normaltest
alpha = 0.05

# H0: x the hourly wage of all hourly workers is significantly different from $30/hr

# H : x the hourly wage of all hourly workers is not significantly different from $30/hr

x = salaries[salaries["Salary or Hourly"] == "Hourly"]["Hourly Rate"].values

pvalue = normaltest(x).pvalue
pvalue

print(f"p-value = {pvalue}")
print(f"alpha = {alpha}")

if pvalue < alpha:
    print("Null hypothesis may be rejected! -----> the hourly wage of all hourly workers is significantly different from $30/hr")
else:
    print("Null hypothesis may not be rejected! -----> the hourly wage of all hourly workers is not significantly different from $30/hr")

p-value = 1.5089373758263919e-87
alpha = 0.05
Null hypothesis may be rejected! -----> the hourly wage of all hourly workers is significantly different from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [40]:
# Your code here:
alpha = 0.05

# H0: x the hourly wage of all hourly workers is significantly different from $30/hr

# H : x the hourly wage of all hourly workers is not significantly different from $30/hr

b= salaries[salaries["Salary or Hourly"] == "Salary"]["Annual Salary"].values

pvalue = normaltest(b).pvalue
pvalue/2

print(f"p-value = {pvalue}")
print(f"alpha = {alpha}")

if pvalue < alpha:
    print("Null hypothesis may be rejected! -----> the Annual Salary of police is higher than last year")
else:
    print("Null hypothesis may not be rejected! -----> the Annual Salary of police is not higher than last year")

p-value = 2.9066385656864445e-262
alpha = 0.05
Null hypothesis may be rejected! -----> the hourly wage of all hourly workers is significantly different from $30/hr

Using the `crosstab` function, find the department that has the most hourly workers.

In [36]:
salaries.crosstab(salaries.depart, salaries.x)

AttributeError: 'DataFrame' object has no attribute 'crosstab'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [75]:
# Your code here:
hr=salaries["Hourly Rate"]
# la longitud de la muestra es 33183
# los grados de libertad son 33183-1= 33182

# la media de Hourly rate es 32,78
m_salario=salaries["Hourly Rate"].mean()
m_salario
#desviación standar: 12.11257268427681
desviation=salaries["Hourly Rate"].std()

# la media de la hipotesis a comparar es 35$/hora
h0=np.random.normal(32.788,12.11,33183)
h=np.random.normal(35,12,33183)
alpha=0.05

In [77]:
print(f"Len sample 0: {len(h0)}")
print(f"Len sample 1: {len(h)}")

## 95% confidence

ttest_ind(h0,h)
if pvalue < alpha:
    print("Null hypothesis may be rejected! -----> the hourly wage is less than $35/hour.")
else:
    print("Null hypothesis may not be rejected! -----> the hourly wage is more than $35/hour")

Len sample 0: 33183
Len sample 1: 33183
Null hypothesis may be rejected! -----> the hourly wage is less than $35/hour.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [74]:
# Your code here:
from scipy.stats import f_oneway
from scipy.stats import ttest_ind
#la media es: 32.78855771628128
m_salario=salaries["Hourly Rate"].mean()
alpha = 0.05
degrees_freedom= 33182
#la desviacion standar es 12.11257268427681
desviation=salaries["Hourly Rate"].std()

h0=np.random.normal(32.788,12.11,33183)
h=np.random.normal(35,12,33183)

ttest_ind(h0,h)

# como el p-value es menor que Alpha, rechazamos la hipótesis nula

Ttest_indResult(statistic=-23.46132839779595, pvalue=3.1647669027284238e-121)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [88]:
# Your code here:
#la media es: 86786.99979015153
salario_anual=salaries[salaries["Salary or Hourly"] == "Salary"]["Annual Salary"].mean()
alpha = 0.05
degrees_freedom= 33182
#la desviacion standar es 21041.354601627885
desviation_salaries=salaries[salaries["Salary or Hourly"] == "Salary"]["Annual Salary"].std()

h0=np.random.normal(86786.99,21041.35,33183)
h=np.random.normal(86000,21000,33183)

ttest_ind(h0,h)
# como el p-value es menor que Alpha, rechazamos la hipótesis nula

Ttest_indResult(statistic=3.689115275780534, pvalue=0.00022521485991717748)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [81]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
count = np.array([5, 12])
nobs = np.array([83, 99])
stat, pval = proportions_ztest(count, nobs)
print('{0:0.3f}'.format(pval))

0.159